.theme-dark{
    
    background-color: var(--d-bg-0);
    .main-header{
        background-color: var(--d-bg-0);
    }
    .main-sider{
        background-color: var(--d-bg-2);
        .menuButton{
            background-color: var(--d-bg-1);
        }
        .arco-menu-light .arco-menu-item.arco-menu-selected {
            background-color: var(--d-bg-2);
        }

        // .arco-menu-item{
        //     background-color: var(--d-bg-0);
        // }
       
        

        
    }
    .home{
        #header-bnt-active{
            background-color: var(--w-brand);
        }
        .home-header-home-bnt{
            background-color: var(--w-card-bg);
        }
        .home-header-home-bnt:hover{
            background-color: var(--w-brand);
            // color:var(--w-brand) ;
        }
        .videoNavBar{
            background-color: var(--d-bg-2);
            border-color: var(--d-bg-2);
        }
        .videoBodyCards{
            background-color: var(--d-bg-1);
            
        }
        .home-left{
            background-color: var(--w-card-bg);
            color: var(--w-main);
            border: 1px solid var(--w-card-border);
            .home-left-all-share:hover{
                background-color: var(--d-bg-1);
            }
            .home-left-all-share-active{
                color: var(--w-brand);
            }
        }
        .home-right{
            background-color: var(--w-card-bg);
            color: var(--w-main);
            border: 1px solid var(--w-card-border);
        }
        .main-share-header-nickname{
            color:var(--w-main-title);
        }
        .main-share-header-info{
            color: var(--w-sub);
        }
        .main-share-content-content{
            color: var(--w-main);
        }
    }
    
    .videoCard{
        background-color: var(--d-bg-1);
        border-color: var(--d-bg-1);
        .videoCard-desc{
            
            background-color: var(--d-bg-1);
            border-color: var(--d-bg-1);
            .videoCard-desc-name{
                font-size: 20px;
                font-weight: bolder;
                color: white;
            }
            .videoCard-desc-info{
                color: aquamarine;
            }
        }
    }
    .second-menu{
        background-color: var(--d-bg-2);
        z-index: 2;
    }
    .evd-main{
        background-color: antiquewhite;
    }
}

.user-center{
   
    .user-center-left{
        color: var(--w-main);
        .user-center-left-active{
            color: var(--w-brand);
        }
       
    }
    
    .user-center-content{
        .owner-page{
           background-color: var(--w-card-bg);
           color: var(--w-sub);
        }
        .user-center-content-desc{
            background-color: var(--w-card-bg);
            color: var(--w-sub);
        }
        .user-center-content-main{
            background-color: #191919;
        }
        .user-center-content-cancel{
            color: #888;
        }
        .user-center-content-header{
            background-color: var(--w-card-bg);
            width: 100%;
            .user-center-content-username{
               color: var(--w-main);
            }
            .user-center-content-user-tag{
                color: var(--w-sub);
            }
        }
    }
}