.bcCards{
    display: grid;
    grid-template-columns: repeat(auto-fill,410px);
    justify-content: center;
  }
.bcCard{
    width: 400px;
    height: 200px;
    margin: 5px;
  }
.card-headers{
    display: flex;
    margin: 10px;
}
.bc-icon{
    width:80px;
    border-radius: 10px;
}
.bc-link-title{
    color: #4080FF;
    font-size: 23px;
  }
  .bc-link-title:hover{
    color: #94BFFF;
  }
  .bc-foot{
    display: grid;
    position: relative;
    top: 36px;
    grid-template-columns:133px 2px 133px 2px 133px;
    justify-items: center;
  }
  .bc-foot:hover{
    cursor:pointer;
  }
  .divider{
    margin: 0;
    position: relative;
    top: 30px;
  }
  .spin{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
  .bc-describ{
    margin-top:10;
    width:283px;
    height:40px;
    word-wrap: break-word;
    word-break: break-all;
}