@import "./style.less";
@import "./themes/dark.less";
:root{
    //dark #3f4040
    --d-bg-0:#111;
    --d-bg-1:#3f4040;
    --d-bg-2:#2B2B2B;
    --d-bg-3:#362222;
    --d-c-0:#38dd77;
    --d-c-1:#38dd7711;
    --w-main:#bfbfbf;
    --w-card-bg: #191919;
    --w-card-border:#222;
    --w-brand:#ea8011;
    --w-main-title:rgb(191, 191, 191);
    --w-sub: #797979;

    //light
    --l-c-0:#823aa0;
    --l-c-1:#823aa011;

}

